<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="col-md-8">
      <small>
        <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
        submitted <%= time_ago_in_words(@post.created_at) %> ago by
        <%= @post.user.name %>
      </small>
    <p><%= markdown @post.body %></p>
  </div>
  
  <div class="col-md-4">

      <%= form_for [@topic, @comment] do |f| %>
        
        <%= f.hidden_field :post_id %>
        <p>
          <%= f.label :comment %><br />
          <%= f.text_field  :body %>
        </p>
        <p>
          <%= f.submit "Post Comment" %>
        </p>
      <% end %>


    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
  <%= render :partial => 'comment', layout: 'form', collection: {:comment => @post.comments.first} %>
  <h5>Comments:</h5>
  <%= render partial: "comment", collection: @post.comments %>
</div>


